body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

#map {
    width: 100%;
    max-width: 800px; /* Ограничиваем ширину карты */
    height: 400px;
    margin: 20px auto;
    border: 2px solid #ccc; /* Добавляем рамку для красоты */
    border-radius: 8px; /* Скругляем углы */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
