
body {
    margin: 0;
    overflow: hidden;
    background: black;
    font-family: sans-serif;
}

video {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#reticle {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 14px 20px;
    border-radius: 14px;
    font-size: 22px;
    background: rgba(0,255,0,0.8);
    color: white;
    z-index: 2;
}

#startBtn {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 14px 22px;
    font-size: 16px;
    z-index: 3;
}
